@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Geist";
  src: url("./fonts/GeistVariableVF.ttf")
}

@font-face {
  font-family: "Rusty-Hooks";
  src: url("./fonts/RustyHooksRegular-nROER.ttf")
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  @apply
    font-geist
  ;
}
button {
  color: inherit;
}
button, [role="button"] {
  cursor: pointer;
}
code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}
img,
svg {
  display: block;
}
img,
video {
  max-width: 100%;
  height: auto;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.transition-colors {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.my-6 {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.my-4 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.py-8 {
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.bg-\[\#86efac\] {
  background-color: #86efac;
}
.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.py-6 {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.py-1 {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}
.border-gray-500 {
  border-color: #6b7280;
}
.bg-white {
  background-color: #fff;
}
.flex {
  display: flex;
}
.gap-8 {
  grid-gap: 2rem;
  gap: 2rem;
}
.font-bold {
  font-weight: 700;
}
.max-w-screen-md {
  max-width: 768px;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.border-2 {
  border-width: 2px;
}
.rounded {
  border-radius: 0.25rem;
}
.hover\:bg-gray-200:hover {
  background-color: #e5e7eb;
}
.tabular-nums {
  font-variant-numeric: tabular-nums;
}


/**!SECTION
 * This is where my custom styles start for components rendered and not just theming
*/
.layout-container {
  @apply
    bg-white
    w-full
    flex
    flex-col
    gap-4
  ;
}
.header-content-layout {
  @apply
    py-6
    px-8
    flex
    flex-col
    w-full
    place-content-center
    max-w-screen-lg
    m-auto
    mb-36
  ;
}
.branding {
  @apply
    text-3xl
    ml-1
    tracking-wide
    font-bold
    font-rustyhooks
  ;
}
.boba-header-icon {
  @apply
    h-16
    w-10
  ;
}
.footer-container {
  @apply
    fixed
    bottom-0
    place-content-end
    w-full
    h-12
    flex
    flex-col 
  ;
}
.message-container {
  @apply
    w-full
    m-auto
    text-center
    md:w-1/2
    /* 
      This opacity-0 is hiding the notification container in _layout.tsx
      The goal is to have this overrideable when there's a message to display,
      but I need to figure out how to broadcast that to a different part of 
      the vdom hierarchy.
     */
    opacity-0
  ;
}
.navigation {

}
.links {
  @apply
    flex
    flex-row
    justify-between
  ;
}
.nav-link {
  @apply
    w-full
    p-3
    /* text-center */
    /* text-xl */
    /* font-bold */
    /* text-white */
    /* tracking-wider  */
    border-slate-950
    border-2
    m-4
    rounded-md
    shadow-md
  ;
}
.nav-link li {
  @apply
    w-full
    text-center
    text-xl
    font-bold
  text-white
    font-rustyhooks
    tracking-widest
  ;
}
/**!SECTION TABLE */
.wrapper {

}
.table-container {
  @apply
    /* grid 
    grid-cols-6 
    gap-4 */
    border-2
    rounded-md
    border-spacing-1
    border-black
    w-full
    m-auto
    mt-5
  ;
}
.table {
  @apply
    table-auto 
    w-full 
    border-hidden
    /* col-span-full  */
    /* rounded-md */
  ;
}
.table-cell {
  @apply
    border-2
    p-2
    rounded-md
    text-base
  ;
}
.table-cell td {
  outline: 2px solid black;
  @apply 
    outline-slate-500

  ;
}

th:nth-last-child(-n+2):hover,
th:nth-last-child(-n+2):active {
  background-color: beige;
  border-radius: 0;
  box-shadow: inset 0px 0px 5px #c1c1c1;
}

th:last-child:hover,
th:last-child:active {
  border-top-right-radius: 0.375rem;
}

/**!SECTION FORM */
.form-container {
  @apply 
    grid 
    col-span-full
    gap-4
  ;
}
.boba-form {
  /* display: flex; */
  /* flex-flow: column; */
  /* align-items: center; */
  gap: 30px;
  @apply 
    col-span-full 
    p-6
  ;
}
.form-input {
  @apply 
    col-span-full 
    rounded-md 
    border-slate-500 
    border-2
    h-12
    text-xl
    p-4
    tracking-wider
    /* md:col-span-4 */
  ;
}
.form-item {
  display: flex;
  flex-flow: column;
  margin-bottom: 20px;
}
.form-item label {
  font-style: italic;
  @apply text-lg;
}
.add-drink {
  @apply
    bg-teal-700 
    text-slate-50 
    p-6 
    text-xl 
    rounded-md 
    w-full font-rustyhooks
    tracking-widest
  ;
}

#add-boba-dialog {
  left: 50svw;
  transform: translateX(-50%);
  top: 5svh;
  border-width: 3px;
  border-radius: 15px;
  position: absolute;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: left;
  visibility: hidden;
}
#add-boba-dialog::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
  width: 100svw;
  height: 100svh;
}

